
<div class="container-fluid gradient-bg h-100">
    <div class="row pt-5 flex-grow-1  min-vh-100">
        <div class="col-md-3 offset-md-2">
            <div class="d-flex flex-column align-items-center">
                <div>
                    <h1 class="meteorite-h1">Meteorite</h1>
                </div>
                <div>
                    <%= image_tag "logo_stripped.png", class: "banner-image"%>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column align-items-center">
                <div class="pt-2">
                    <h2 id="tagline">Take the chance.</h2>
                </div>
                <div>
                    <p id="byline">Signup today. It just takes a minute.</h2>
                </div>
                <div class="mt-2 w-100">
                    <button class="btn btn-outline-primary w-100">SIGN UP</button>
                </div>
                <div class="mt-2 w-100">
                    <button class="btn btn-primary w-100">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>
